input(type='text', ng-model='item.name', placeholder='{{ "placeholder_guide_name" | translate }}')

save-item(item='item', save='save()')
locale(item='item')
guide-type(guide='item')
language(item='item')
