footer.footer
  .mu-footer
    .mu-footer-section
      p © Copyright 2015-2016
        a.mu-org-link(href='http://mumuki.org/')
          span.da.da-mumuki-circle
          |  Mumuki Project
    .mu-footer-section
      a(href='https://auth0.com/', target='_blank')
      img(height='40', alt='JWT Auth for open source projects', src='//cdn.auth0.com/oss/badges/a0-badge-light.png')
    .mu-footer-section.mu-footer-social
      a.fa.fa-facebook.social-icon(href='https://www.facebook.com/MumukiProject', target='_blank')
      a.fa.fa-twitter.social-icon(href='https://twitter.com/MumukiProject', target='_blank')
      a.fa.fa-github.social-icon(href='https://github.com/mumuki', target='_blank')
      a.fa.fa-linkedin.social-icon(href='https://www.linkedin.com/company/mumuki-project', target='_blank')
