.mu-content

  h1.guide-detail-title
    input(type='text', ng-model='exercise.name', placeholder='{{ "exercise_name_placeholder" | translate }}')

    small
      i.pointer.locale.da(ng-click='exercise.toggleLayout()', class='{{ exercise.getLayout().icon() }}')

    div.dropdown
      i.pointer.language.da(class='{{ exercise.icon() }}', id='ddLanguage', data-toggle='dropdown', aria-expanded='true')
      ul.dropdown-menu.dropdown-menu-right(aria-labelledby='ddLanguage')
        li(ng-repeat='language in languages.get()', ng-click='exercise.setLanguage(language.name)')
          a(href='')
            i.da(class='{{ language.icon() }}')
            span {{ language.name }}

  main.guide-detail-main
    br
    .exercise-detail-area(class='{{ exercise.getLayout().type() }}')
      .exercise-detail-area-text
        ace-with-markdown(title='description' content='exercise.description')
        br
        ace-with-markdown(title='hint' content='exercise.hint', foldable='true')
      .exercise-detail-area-editor
        ace-editor(content='exercise.code', mode='exercise.getLanguage()', title='code')

    br
    ace-with-markdown(title='corollary', content='exercise.corollary', foldable='true')
    br
    ace-editor(content='exercise.extra_code', mode='exercise.getLanguage()', title='extra_code', foldable='true')
