.mu-content

  h1.detail-title(ng-include='"views/content/guides/components/title.html"')

  main.detail-main
    br
    ace-with-markdown(header='description' content='item.description')

    .detail-exercises(ng-include='"views/content/guides/components/exercises.html"')
    br
    ace-with-markdown(header='corollary', content='item.corollary', foldable='true')
    br
    ace-with-markdown(header='teacher_info', content='item.teacher_info', foldable='true')
    br
    ace-editor(content='item.extra_code', mode='item.language', header='extra_code', foldable='true')
    .detail-license
      div(ng-include='"views/content/guides/components/authors.html"')
      h3 {{ 'collaborators' | translate }}
      input(type='text', ng-model='item.collaborators', placeholder='{{ "placeholder_collaborators" | translate }}')
      br
      br
      small(ng-bind-html='"license_disclaimer" | translate')

