.mu-content

  h1.guide-detail-title
    input(type='text', ng-model='guide.name', placeholder='{{ "guide_name_paceholder" | translate }}')

    div.dropdown
      small.pointer.locale.flag-icon(
          id='ddLocale',
          aria-expanded='true',
          data-toggle='dropdown',
          class='{{ currentLocaleIcon(guide.locale) }}')
      ul.dropdown-menu.dropdown-menu-right(aria-labelledby='ddLocale')
        li(ng-repeat='locale in locales.get()', ng-click='guide.setLocale(locale.code)')
          a(href='')
            i.flag-icon(class="{{ locale.icon() }}")
            span {{ locale.name | translate }}

    div.dropdown
      i.pointer.language.da(class='{{ guide.icon() }}', id='ddLanguage', data-toggle='dropdown', aria-expanded='true')
      ul.dropdown-menu.dropdown-menu-right(aria-labelledby='ddLanguage')
        li(ng-repeat='language in languages.get()', ng-click='guide.setLanguage(language.name)')
          a(href='')
            i.da(class='{{ language.icon() }}')
            span {{ language.name }}

  main.guide-detail-main
    ace-with-markdown(content='guide.description', placeholder='{{ "description_paceholder" | translate }}')
    br
    ace-with-markdown(content='guide.corollary', placeholder='{{ "corollary_paceholder" | translate }}')
