.input-group.filter
  i.input-group-addon.fa.fa-search
  input.form-control(id='filter' placeholder='{{ "search" | translate }}' ng-model='listSearch')

.list-group
  button.list-group-item(
      ng-repeat='item in list | orderBy:Model.sortBy() | filter:listSearch',
      ng-click='open(item)')
    i.mu-list-item-icon.da(class='da-{{ item.icon() }}')
    span.divider-vertical
    span.text-primary {{ item.fullName() }}
