.mu-content

  h1.guide-detail-title
    input(type='text', ng-model='guide.name', placeholder='{{ "guide_name_paceholder" | translate }}')
    i.da(class='{{ guide.icon() }}')

  main.guide-detail-main
    ace-with-markdown(content='guide.description', placeholder='{{ "description_paceholder" | translate }}')
