.mu-content

  h1.detail-title(ng-include='"views/content/guides/components/title.html"')

  main.detail-main
    br
    ace-with-markdown(header='description' content='item.description')

    .detail-exercises(ng-include='"views/content/guides/components/exercises.html"')
    br
    ace-with-markdown(header='corollary', content='item.corollary', foldable='true')
    br
    ace-with-markdown(header='teacher_info', content='item.teacher_info', foldable='true')
    br
    ace-editor(content='item.extra', mode='item.getAceMode()', header='extra', foldable='true', placeholder='placeholder_extra_code')
    h3 {{ 'expectations' | translate }}
    expectations(exercise='item', foldable='true')
    .detail-license
      div(ng-include='"views/content/guides/components/authors.html"')
      h3 {{ 'collaborators' | translate }}
      textarea(ng-model='item.collaborators', placeholder='{{ "placeholder_collaborators" | translate }}', draggable='false')
      br
      br
      small(ng-bind-html='"license_disclaimer" | translate')

