.mu-content

  h1.guide-detail-title
    input(type='text', ng-model='guide.name', placeholder='{{ "guide_name_paceholder" | translate }}')

    div.dropdown
      small.pointer.locale.flag-icon(
          id='ddLocale',
          aria-expanded='true',
          data-toggle='dropdown',
          class='{{ currentLocaleIcon(guide.locale) }}')
      ul.dropdown-menu.dropdown-menu-right(aria-labelledby='ddLocale')
        li(ng-repeat='locale in locales.get()', ng-click='guide.setLocale(locale.code)')
          a(href='')
            i.flag-icon(class="{{ locale.icon() }}")
            span {{ locale.name | translate }}

    div.dropdown
      i.pointer.language.da(class='{{ guide.icon() }}', id='ddLanguage', data-toggle='dropdown', aria-expanded='true')
      ul.dropdown-menu.dropdown-menu-right(aria-labelledby='ddLanguage')
        li(ng-repeat='language in languages.get()', ng-click='guide.setLanguage(language.name)')
          a(href='')
            i.da(class='{{ language.icon() }}')
            span {{ language.name }}

  main.guide-detail-main
    ace-with-markdown(title='description' content='guide.description')
    br
    .guide-detail-exercises
      h3 {{ 'content' | translate }}
      ul.progress-listing
        li(ng-repeat='exercise in guide.exercises')
          a(href='')
            i.fa.fa-fw.fa-circle.text-muted
            span {{ $index + 1 }}. {{ exercise.name }}

    br
    ace-with-markdown(title='corollary', content='guide.corollary')
    br
    ace-with-markdown(title='teacher_info', content='guide.teacher_info')
    br
    ace-editor(content='guide.extra_code', mode='guide.language', title='extra_code')
    br
    .guide-detail-license
      h3 {{ 'authors' | translate }}
      p
        span Esta guía fue desarrollada por
        span &nbsp;
        span(contenteditable='true', ng-model='guide.authors', placeholder='{{ "authors_placeholder" | translate }}')
        span &nbsp;
        a(href='') y muchas personas más,
        span &nbsp;
        span bajo los términos de la
        span &nbsp;
        a(href='https://creativecommons.org/licenses/by-sa/4.0/') Licencia Creative Commons Compartir-Igual, 4.0.
