@mixin input-bottom {
  @include display-flex(column, flex-start, flex-start);
  .exercise-detail-area-text {
    margin-right: 0;
  }
  .exercise-detail-area-editor {
    margin-left: 0;
    margin-top: 30px;
  }
}

.margin-top {
  margin-top: 10px;
}

.exercise-title {
  span {
    margin-right: 10px;
  }
  .editor, .layout {
    display: flex;
    align-self: center;
    margin: 0 5px;
  }
}

$scroll-height: 1px;

.nav-tabs-inline {
  overflow-x: auto;
  overflow-y: auto;
  display: -webkit-box;
  display: -moz-box;
  margin-top: -$scroll-height;
  li {
    float: none;
    margin: $scroll-height 0 0;
  }
}

.nav-tabs-inline::-webkit-scrollbar-track {
  background-color: $mu-color-content-editable;
}

.nav-tabs-inline::-webkit-scrollbar {
  height: $scroll-height;
}

.nav-tabs-inline::-webkit-scrollbar-thumb {
  background-color: $mu-color-complementary;
}

.exercises-list {
  @include display-flex(row, flex-start, center);
  margin-bottom: 20px;
  a {
    background-color: $mu-color-content-editable;
    border: 1px solid white;
    width: 100%;
    height: 10px;
    &.active:after {
      color: $mu-color-link;
      content: '•';
    }
    &:last-child {
      top: -10px;
      background-color: transparent;
      white-space: nowrap;
    }
  }
}

.exercises-list[dnd-list], .exercises-list[dnd-list] > a {
  position: relative;
}

.exercises-list[dnd-list] .dndDraggingSource {
  display: none;
}

.exercises-list[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  min-height: 10px;
}

.exercises-list[dnd-list] a {
  display: block;
}

.exercise-detail-area {
  @include display-flex(row, flex-start, flex-start);

  width: 100%;

  .exercise-detail-area-text {
    @include display-flex(column, flex-start, flex-start);
    width: 100%;

    ace-with-markdown {
      width: 100%
    }
  }
  .exercise-detail-area-editor {
    width: 100%;
  }

  &.input_right {
    @include display-flex(row, flex-start, flex-start);
    .exercise-detail-area-text {
      margin-right: 15px;
    }
    .exercise-detail-area-editor {
      margin-left: 15px;
    }
  }

  &.input_bottom {
    @include input-bottom;
  }

}

@media (max-width: 991px) {
  .exercise-detail-area {
    &.input_right {
      @include input-bottom;
    }
  }
}

@media (min-width: 992px) {
  .exercise-detail-area {
    &.input_right {
      .exercise-detail-area-editor {
        .title {
          display: none
        }
      }
    }
  }
}

.complementary {
  width: 100%;
  label {
    width: 100%;
    input {
      width: calc(100% - 40px);
    }
    .fa-times {
      margin-left: 15px;
    }
  }
}

.complementary label::after {
  background-color: $brand-complementary;
  color: white;
  top: 10px;
}

.complementary label::before {
  bottom: 7px;
}

.complementary-checkbox label::after {
  width: 17px;
  height: 17px;
  line-height: 14px;
  border-radius: 3px;
  border: 1px solid $brand-complementary;
}

.border-white {
  border: 1px solid white;
}

@mixin angle {
  position: absolute;
  padding-top: 18px;
  padding-bottom: 18px;
}

.tabbable {
  position: relative;
  .fa-angle-left {
    @include angle;
    left: -22px;
  }
  .fa-angle-right {
    @include angle;
    right: -22px;
  }
}
