.expectations {
  @include display-flex(column, flex-start, flex-start);

  .times {
    cursor: pointer;
    margin-right: 5px;
  }

  .basic {
    @include display-flex(row, flex-start, center);
    width: 100%;
    margin: 5px 0;
    .binding, .inspection {
      @include display-flex(row, flex-start, center);
      input {
        width: 100%;
        height: 51px;
        border: none;
        border-bottom: 1px solid $mu-color-content-editable;
      }
    }
    .binding {
      width: 34%;
      margin-right: 5px;
    }
    .inspection {
      width: 66%;
      margin-right: 5px;
      .ui-select-container {
        width: 100%;
      }
      .ui-select-toggle.btn.btn-default {
        max-width: 100%;
        border: none;
        border-bottom: 1px solid $mu-color-content-editable;
        &:focus, &:active {
          outline: -webkit-focus-ring-color auto 5px;
          outline-color: -webkit-focus-ring-color;
          outline-style: auto;
          outline-width: 5px;
        }
      }
      input {
        width: 50%;
        min-width: 50%;
        max-width: 50%;
        margin-left: 5px;
      }
      &.with-target {
        .ui-select-container {
          width: 50%;
        }
      }
    }
  }
}
