.gbs-attire-row {
  text-align: center;
}

.gbs-attire-rule {
  display: flex;
  justify-content: center;
  text-align: center;
}

.gbs-attire-rule-image-preview {
  width: 32px;
  height: 32px;
}

.gbs-attire-rule-delete {
  position: absolute;
  left: 10px;
}

.gbs-attire-rule-up {
  position: absolute;
  left: 30px;
}

.gbs-attire-rule-down {
  position: absolute;
  left: 50px;
}

.gbs-attire-rule-input {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.gbs-attire-add-btn {
  margin-left: 10px;
  margin-right: 10px;
}

.gbs-toolbox-editor {
  height: 300px;
}
