.gbs-attire-row {
  text-align: center;
}

.gbs-attire-rule {
  display: flex;
  justify-content: center;
  text-align: center;
}

.gbs-attire-rule-delete {
  position: absolute;
  left: 40px;
}

.gbs-attire-rule-input {
  width: 40px;
}
