$list-columns: 200px 3;

span[contenteditable='true'] {
  display: inline;
  cursor: text;
  color: darken($mu-color-content-editable, 50%);
  &:hover {
    border: 2px solid $mu-color-content-editable;
  }
  &:empty:before {
    color: darken($mu-color-content-editable, 25%);
    content: attr(placeholder);
    cursor: text;
  }
}

section[ui-view='content'] {
  width: 100%;
}

.mu-content {
  @include display-flex(column, flex-start, flex-start);
  width: 100%;

  .guide-detail-title {
    @include display-flex(row, space-between, center);
    width: 100%;

    font-size: 44px;
    margin: 10px 0 15px;
    input {
      width: 100%;
      border: none;
      margin-right: 15px;
    }
    .locale, .language {
      display: flex;
      align-self: center;
      margin: 0 10px;
    }
    .dropdown-menu {
      a {
        color: $mu-color-primary;
        i { width: 30px  }
        span { text-transform: capitalize }
        &:hover { color: white }
      }
    }
  }

  .guide-detail-main {
    width: 100%;


    .guide-detail-exercises {
      h3 {
        text-transform: capitalize;
      }
      .progress-listing {
        -webkit-columns: $list-columns;
        -moz-columns: $list-columns;
        columns: $list-columns;
        list-style: none;
        .fa-circle {
          margin-right: 3px;
        }
      }
    }
    .guide-detail-license {
      input {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }

}
