$filter-width: 45px;
$filter-height: 40px;

.mu-list-item-icon {
  margin: 0 5px;
}

.input-group.filter {
  @include display-flex(row, center, center);
  margin-bottom: 20px;
  width: 100%;

  .input-group-addon {
    width: $filter-width;
    height: $filter-height;
  }
  .form-control {
    width: calc(100% - $filter-width);
    height: $filter-height;
  }
}

.mu-list-group {
  @include display-flex(column, flex-start, center);

  .mu-list-group-item {

    padding: 5px 15px;

    @include display-flex(row, flex-start, center);

    .divider-vertical {
      padding: 25px 0;
    }

    .mu-list-group-item-data {
      @include display-flex(column, flex-start, flex-start);

      small {
        font-size: 75%;
        color: $mu-color-disabled;
      }
    }

  }
}
