@font-face {
  font-family: 'MumukiFont';
  src: url('../fonts/mu-font.eot');
  src: url('../fonts/mu-font.woff2') format('woff2'),
       url('../fonts/mu-font.woff') format('woff'),
       url('../fonts/mu-font.ttf') format('truetype'),
       url('../fonts/mu-font.svg#mu-font') format('svg'),
       url('../fonts/mu-font.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.mu-font {
  display: inline-block;
  font: normal normal normal 14px/1 MumukiFont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  &.fw {
    width: 1.28571429em;
    text-align: center;
  }
  &.logo:before {
    content: '\0031';
  }
  &.gobstones:before {
    content: '\0041';
  }
  &.haskell:before {
    content: '\0042';
  }
  &.prolog:before {
    content: '\0043';
  }
  &.javascript:before {
    content: '\0044';
  }
  &.qsim:before {
    content: '\0045';
  }
  &.wollok:before {
    content: '\0046';
  }
  &.java:before {
    content: '\0047';
  }
  &.ruby:before {
    content: '\0048';
  }
  &.text:before {
    content: '\0049';
  }
  &.c:before {
    content: '\004A';
  }
  &.cpp:before {
    content: '\004B';
  }
  &.python:before {
    content: '\004C';
  }
  &.elixir:before {
    content: '\004D';
  }
}
