$icon-font-path: '~@bower-components/mumuki-styles/dist/fonts/bootstrap/';
$fa-font-path: '~@bower-components/mumuki-styles/dist/fonts/';
$da-font-path: '~@bower-components/mumuki-styles/dist/fonts/';
$flag-icon-css-path: '~flag-icon-css/';
$flag-icon-rect-path: '~flag-icon-css/flags/4x3';
$flag-icon-square-path: '~flag-icon-css/flags/1x1';

//Dependency imports
@import '~@bower-components/mumuki-styles/dist/scss/mumuki-styles';
@import '~angular-toastr/dist/angular-toastr.min.css';
@import '~ui-select/dist/select.min.css';
@import '~angular-hotkeys/build/hotkeys.min.css';
@import '~angular-ui-bootstrap/dist/ui-bootstrap-csp.css';
@import '~awesome-bootstrap-checkbox/awesome-bootstrap-checkbox';
@import '~ng-tags-input/build/ng-tags-input.bootstrap.min';
@import '~ng-tags-input/build/ng-tags-input.min';
@import '~flag-icon-css/sass/flag-icon.scss';

@import 'mixines';
@import 'home';
@import 'cloak';
@import 'colors';
@import 'mu-font';
@import 'styles';
@import 'list-items';
@import 'footer';
@import 'guide-details';
@import 'exercise-details';
@import 'book-details';
@import 'topic-details';
@import 'ace-editor-markdown';
@import 'expectations';
@import 'assistance-rules';
@import 'randomizations';
@import 'emojis';
@import 'gobstones-widgets';

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

.mu-page {
  position: relative;
  min-height: 100%;
}

.mu-disabled {
  pointer-events: none;
}
