@import "../bower_components/bootswatch-scss/flatly/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootswatch-scss/flatly/bootswatch";

@import 'mixines';
@import 'cloak';
@import 'colors';
@import 'mu-font';
@import 'styles';
@import 'navbar';
@import 'list-items';

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
