@import '../bower_components/mumuki-styles/dist/stylesheets/mumuki.scss';

@import "../bower_components/bootswatch-scss/flatly/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootswatch-scss/flatly/bootswatch";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "../bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";

@import 'mixines';
@import 'cloak';
@import 'colors';
@import 'mu-font';
@import 'styles';
@import 'navbar';
@import 'list-items';
@import 'footer';
@import 'guide-details';
@import 'exercise-details';
@import 'book-details';
@import 'ace-editor-markdown';
@import 'flag-icon';
@import 'expectations';

.mu-page {
  position: relative;
  min-height: 100%;
}

.mu-disabled {
  pointer-events: none;
}
