div.dropdown
  small.pointer.locale.text-primary(
      id='ddExerciseType',
      aria-expanded='true',
      data-toggle='dropdown')
    i.fa.fa-fw(class='{{ exercise.getType().icon() }}')
  ul.dropdown-menu.dropdown-menu-right(aria-labelledby='ddExerciseType')
    li(ng-repeat='exerciseType in exerciseTypes.get()', ng-click='exercise.setType(exerciseType.name)')
      a(href='')
        i.fa(class="{{ exerciseType.icon() }}")
        span {{ exerciseType.name | translate }}

