div.dropdown
  small.pointer.locale.text-primary(
      id='ddGuideType',
      data-toggle='dropdown',
      aria-expanded='true')
    i.fa.fa-fw(class='{{ guide.getType().icon() }}')
  ul.dropdown-menu.dropdown-menu-right(aria-labelledby='ddGuideType')
    li(ng-repeat='guideType in guideTypes.get()', ng-click='guide.setType(guideType.name)')
      a(href='')
        i.fa(class='{{ guideType.icon() }}')
        span {{ guideType.name | translate }}
