small.text-primary
  i.pointer.layout.fa-fw(
      title='{{ "layout" | translate }}',
      ng-click='exercise.toggleLayout()',
      ng-class='{ "mu-disabled": !exercise.getEditor().canChangeLayout()}',
      class='{{ exercise.getLayout().icon() }}')
