small(
    ng-class='{                              \
      "text-primary pointer": item.canSave(),\
      "mu-disabled": !item.canSave(),        \
    }')
  i.fa.fa-fw.fa-upload(ng-click='submit()')
