div
  h3 {{ 'organization' | translate }}
  ui-select(ng-model='selected.organization', ng-if='!isWriterInAnyOrganization')
    ui-select-match(placeholder='{{ "organization" | translate }}')
      span(ng-bind='getOrganization()')
    ui-select-choices(repeat='organization in organizations | orderBy')
      span(ng-click='setOrganization(organization)')
        i.fa.fa-fw.fa-university
        span &nbsp;&nbsp;
        span(ng-bind='organization')


  div.input-group(ng-if='isWriterInAnyOrganization')
    span.input-group-addon
      i.fa.fa-university
    input.form-control(type='text', ng-change='setOrganization(organizationName)', ng-model='organizationName')
