div.markdown-panel
  a#test.pointer(ng-click='test()', title='{{ "test" | translate }}') test
  a#extra.pointer(ng-click='extra()', title='{{ "extra" | translate }}') extra
  a#content.pointer(ng-click='content()', title='{{ "content" | translate }}') content
  a.pointer(ng-click='solution()', title='{{ "solution" | translate }}') solution
  a.pointer(ng-click='previousSolution()', title='{{ "previousSolution" | translate }}') previousSolution
  a.pointer(ng-click='ignoreContentOnQuery()', title='{{ "ignoreContentOnQuery" | translate }}') ignoreContentOnQuery


