h3
  span {{ title | translate }}
  i.pointer.fa.fa-fw(
    ng-if='isFoldable',
    ng-click='toggleMinimized()',
    ng-class='{                             \
      "fa-plus-square-o": isMinimized(),    \
      "fa-minus-square-o": !isMinimized(),  \
    }')

div(ui-ace='aceEditor', ng-model='content', ng-show='showMinimized()')
