div.dropdown.markdown-panel
  a(href='', data-toggle='dropdown')
    span {{ 'insert_interpolation' | translate }}
    i.fa.fa-fw.fa-caret-down
  ul.dropdown-menu
    li: a#test.pointer(ng-click='test()', title='{{ "test_directive" | translate }}') {{ "test_directive" | translate }}
    li: a#extra.pointer(ng-click='extra()', title='{{ "extra_directive" | translate }}') {{ "extra_directive" | translate }}
    li: a#content.pointer(ng-click='content()', title='{{ "content_directive" | translate }}') {{ "content_directive" | translate }}
    li.divider(role='separator')
    li: a.pointer(ng-click='absoluteSolution()', title='{{ "absolute_solution_directive" | translate }}') {{ "absolute_solution_directive" | translate }}
    li: a.pointer(ng-click='relativeSolution()', title='{{ "relative_solution_directive" | translate }}') {{ "relative_solution_directive" | translate }}
    li: a.pointer(ng-click='previousSolution()', title='{{ "previous_solution_directive" | translate }}') {{ "previous_solution_directive" | translate }}
    li.divider(role='separator')
    li: a.pointer(ng-click='userEmail()', title='{{ "user_email" | translate }}') {{ "user_email" | translate }}
    li: a.pointer(ng-click='userFirstName()', title='{{ "user_first_name" | translate }}') {{ "user_first_name" | translate }}
    li: a.pointer(ng-click='userLastName()', title='{{ "user_last_name" | translate }}') {{ "user_last_name" | translate }}
    li.divider(ng-if='from === "extra"', role='separator')
    li(ng-if='from === "extra"')
      a.pointer(ng-click='ignoreContentOnQuery()', title='{{ "ignore_content_directive" | translate }}') {{ "ignore_content_directive" | translate }}


