div.markdown-panel
  a.pointer(ng-click='bold()')
    i.fa.fa-bold
  a.pointer(ng-click='italic()')
    i.fa.fa-italic
  a.pointer(ng-click='number()')
    i.fa.fa-list-ol
  a.pointer(ng-click='bullet()')
    i.fa.fa-list-ul
  a.pointer(ng-click='image()')
    i.fa.fa-image
  a.pointer(ng-click='link()')
    i.fa.fa-link
  a.pointer(ng-click='inlineCode()')
    i.fa.fa-code
  a.pointer(ng-click='code()')
    i.fa.fa-file-code-o
  a.pointer(ng-click='quote()')
    i.fa.fa-quote-right
  a.pointer(ng-click='mumuki()')
    i.da.da-mumuki
