.expectations

  .basic(ng-repeat='expectation in exercise.expectations', ng-if='!exercise.new_expectations')
    .binding
      input(type='text', ng-model='expectation.binding', placeholder='{{ "binding" | translate }}')
    .inspection
      input(type='text', ng-model='expectation.inspection', placeholder='{{ "inspection" | translate }}')
    .times
      i.fa.fa-fw.fa-times(ng-click='removeExpectation(expectation)')

  a(href='', ng-click='addExpectation()')
    i.fa.fa-fw.fa-plus
    span {{ 'add_expectation' | translate }}
