.expectations
  .new-expectations
    input(type='checkbox', ng-model='exercise.new_expectations')
    span {{ exercise.new_expectations ? 'Advanced' : 'Basic' }}

  .basic(ng-repeat='expectation in exercise.expectations', ng-if='!exercise.new_expectations')
    .binding
      input(type='text', ng-model='expectation.binding', placeholder='{{ "binding" | translate }}')
    .inspection
      input(type='text', ng-model='expectation.inspection', placeholder='{{ "inspection" | translate }}')
    .times
      i.fa.fa-fw.fa-times(ng-click='removeExpectation(expectation)')


  .advanced(ng-repeat='expectation in exercise.expectations', ng-if='exercise.new_expectations')
    .sentence
      .subject
        input(type='text', ng-model='expectation.subject', placeholder='{{ "subject" | translate }}')
      .verb
        input(type='text', ng-model='expectation.verb', placeholder='{{ "verb" | translate }}')
      .object
        input(type='text', ng-model='expectation.object', placeholder='{{ "object" | translate }}')
    .options
      .transitive
        input(type='checkbox', ng-model='expectation.transitive')
        span {{ 'transitive' | translate }}
      .negated
        input(type='checkbox', ng-model='expectation.negated')
        span {{ 'negated' | translate }}
      .remove
        i.fa.fa-fw.fa-times(ng-click='removeExpectation(expectation)')
        span {{ 'remove' | translate }}

  a(href='', ng-click='addExpectation()')
    i.fa.fa-fw.fa-plus
    span {{ 'add_expectation' | translate }}
