.inspections

  h4 {{ 'expectations' | translate }}

  .expectations(ng-if="!inspection.isSmell", ng-repeat='inspection in inspections')

    .binding
      input(type='text', ng-model='inspection.scope', placeholder='{{ "binding" | translate }}')

    .expectation(ng-class='{"with-target": inspection.needsArgument()}')

      ui-select(ng-model='inspection.verb' theme='bootstrap' title='{{ "expectation" | translate }}')
        ui-select-match(placeholder='{{ "expectation" | translate }}') {{$select.selected}}
        ui-select-choices(repeat='expectation in expectations | filter:$select.search')
          small(ng-bind-html='expectation | highlight: $select.search')

      input(type='text', ng-model='inspection.target', placeholder='{{ "target" | translate }}', ng-if='inspection.needsArgument()')

    .times
      i.fa.fa-fw.fa-times(ng-click='removeInspection(inspection)')

  a(href='', ng-click='addExpectation()')
    i.fa.fa-fw.fa-plus
    span {{ 'add_expectation' | translate }}

  h4 {{ 'ignored_code_smells' | translate }}

  .smells(ng-if="inspection.isSmell", ng-repeat='inspection in inspections')

    .smell
      ui-select(ng-model='inspection.verb' theme='bootstrap' title='{{ "code_smell" | translate }}')
        ui-select-match(placeholder='{{ "code_smell" | translate }}') {{$select.selected}}
        ui-select-choices(repeat='smell in smells | filter:$select.search')
          small(ng-bind-html='smell | highlight: $select.search')

    .times
      i.fa.fa-fw.fa-times(ng-click='removeInspection(inspection)')

  a(href='', ng-click='addException()')
    i.fa.fa-fw.fa-plus
    span {{ 'add_smell' | translate }}
