.expectations

  h4 {{ 'inspections' | translate }}

  .inspections(ng-if="!expectation.isSmell", ng-repeat='expectation in full_expectations | filter:!"isSmell"')

    .binding
      input(type='text', ng-model='expectation.scope', placeholder='{{ "binding" | translate }}')

    .inspection(ng-class='{"with-target": expectation.needsArgument()}')

      ui-select(ng-model='expectation.verb' theme='bootstrap' title='{{ "inspection" | translate }}')
        ui-select-match(placeholder='{{ "inspection" | translate }}') {{$select.selected}}
        ui-select-choices(repeat='inspection in inspections | filter:$select.search')
          small(ng-bind-html='inspection | highlight: $select.search')

      input(type='text', ng-model='expectation.target', placeholder='{{ "target" | translate }}', ng-if='expectation.needsArgument()')

    .times
      i.fa.fa-fw.fa-times(ng-click='removeExpectation(expectation)')

  a(href='', ng-click='addInspection()')
    i.fa.fa-fw.fa-plus
    span {{ 'add_expectation_inspection' | translate }}

  h4 {{ 'code_smells' | translate }}

  .smells(ng-if="expectation.isSmell", ng-repeat='expectation in full_expectations | filter:"!isSmell"')

    .smell
      ui-select(ng-model='expectation.verb' theme='bootstrap' title='{{ "inspection" | translate }}')
        ui-select-match(placeholder='{{ "inspection" | translate }}') {{$select.selected}}
        ui-select-choices(repeat='smell in smells | filter:$select.search')
          small(ng-bind-html='smell | highlight: $select.search')

    .times
      i.fa.fa-fw.fa-times(ng-click='removeExpectation(expectation)')

  a(href='', ng-click='addException()')
    i.fa.fa-fw.fa-plus
    span {{ 'add_expectation_smell' | translate }}
