ace-editor(content='exercise.solution', mode='exercise.getLanguage()', header='solution')

button.btn.btn-success.btn-block.btn-submit(ng-click='submit()')
  i.fa.fa-fw.fa-play
  span {{ 'submit' | translate }}
