.modal-content
  .modal-body
    div
    h1
      span {{ 'gobstones_attire' | translate }}&nbsp;
      i.fa.fa-cloud-download.pointer(ng-click="importFromUrl()")

    input#upload-image(type='file', accept='image/x-png,image/gif,image/jpeg', style='display: none')

    div.gbs-attire-row(ng-show="isImporting")
      i.fa.fa-spinner.fa-spin

    div(ng-show="!isImporting")
      .row.gbs-attire-row
        .col-md-6
          h4 {{ 'rule' | translate }}
        .col-dm-6
          h4 {{ 'tooltip_image' | translate }}

      .row.gbs-attire-row(ng-repeat="rule in attire.rules")
        .col-md-6
          p.gbs-attire-rule
            strong.gbs-attire-rule-delete
              i.fa.fa-trash-o.pointer(ng-click="removeRule(rule)")
              span &nbsp;
            strong.gbs-attire-rule-up
              i.fa.fa-arrow-up.pointer(ng-click="moveRuleUp(rule)")
              span &nbsp;
            strong.gbs-attire-rule-down
              i.fa.fa-arrow-down.pointer(ng-click="moveRuleDown(rule)")
              span &nbsp;
            strong(style='color: red') ●&nbsp;
            input.gbs-attire-rule-input(ng-model="rule.when.red")
            strong(style='color: green') ●&nbsp;
            input.gbs-attire-rule-input(ng-model="rule.when.green")
            strong(style='color: blue') ●&nbsp;
            input.gbs-attire-rule-input(ng-model="rule.when.blue")
            strong(style='color: black') ●&nbsp;
            input.gbs-attire-rule-input(ng-model="rule.when.black")
        .col-md-6
          p(ng-click="setImage(rule)")
            label(ng-show="!rule.image")
              span.pointer {{ 'upload_now' | translate }}
            label(ng-show="rule.image")
              img.gbs-attire-rule-image-preview.pointer(ng-src="{{rule.image}}")
      .row.gbs-attire-row(ng-repeat="border in borders")
        div(ng-show='attire.borders[border] !== undefined')
          .col-md-6
            p.gbs-attire-rule
              strong.gbs-attire-rule-delete
                i.fa.fa-trash-o.pointer(ng-click="removeBorder(border)")
                span &nbsp;
              strong {{ border }}
          .col-md-6
            p(ng-click="setBorderImage(border)")
              label(ng-show="attire.borders[border] === null")
                span.pointer {{ 'upload_now' | translate }}
              label(ng-show="attire.borders[border] !== null")
                img.gbs-attire-rule-image-preview.pointer(ng-src="{{attire.borders[border]}}")

      .row
        .col-md-12
          button.btn.btn-sm.pull-right.gbs-attire-add-btn(type='button', ng-click="addBorders()") {{ 'add_borders' | translate }}
          button.btn.btn-sm.pull-right.gbs-attire-add-btn(type='button', ng-click="addRule()") {{ 'add_combination' | translate }}

  .modal-footer
    .row
      .col-md-12.pull-right
        button.btn.btn-success(type='button', spin-on-click='upload()', ng-disabled="isImporting") {{ 'accept' | translate }}
