doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(name='description', content='Mumuki Editor')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Mumuki - Bibliotheca
    link(rel='icon', href='assets/favicon.ico')

    // build:scss(build) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body(ng-app='editor')
    link(rel='stylesheet', ng-href='{{ customCssUrl }}')
    script(ng-src='{{ customJsUrl | trustedUrl }}', defer='')
    script(src='assets/javascripts/webcomponents-lite.js')
    div(ng-include="'views/language_assets.html'")

    //if lt IE 10
      p.browserupgrade
        | You are using an
        strong outdated
        |  browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.

    div.ng-cloak.container.mu-page(ui-view)

    // build:es6(build) scripts/main.js
    script(type='text/javascript', src='scripts/main.js')
    // endbuild
