doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(name='description', content='Mumuki Editor')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Mumuki - Editor
    link(rel='icon', href='images/favicon/favicon.ico')

    // build:scss(build) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body

    //if lt IE 10
      p.browserupgrade
        | You are using an
        strong outdated
        |  browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.

    <div> HELLO WORLD!! </div>
